<br />
<div class="card">
  <div class="card-header">
    <h2>Editing Friend</h2>
  </div>
  <div class="card-body">

    <%= render 'form', friend: @friend %>
    <br />
    <%= link_to 'Show', @friend, class:"btn btn-primary" %>
    <%= link_to 'Back', friends_path, class:"btn btn-secondary" %>
    <%= link_to 'Destroy', @friend, method: :delete, data: { confirm: 'Are you sure?' }, class:"btn btn-danger" %>
  </div>
</div>

<%# <%= link_to 'Back', friends_path %>
<%# %>